body{
    padding: 0;
    margin: 0;
    background-color: #D9D8D9;
    font-family: Arial, sans-serif;
}

header {
    height: 15vh;
    width: 100%;
    background-color: #1f1238;
}

li {
    margin-left: 5vh;
}

main {
    background-color: #a1a0a0;
    height: 225vh;
    width: 163vh;
    margin-left: 10vh;
    margin-top: 10vh;
    border-radius: 20px;
}

#nav1, #nav2 {
    padding-left: 5vh;
    padding-right: 15vh;
    background-color: #46315C;
    height: 5vh;
    width: 0vh;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav2 {
    width: 10vh;
}

a{
    text-decoration: none;
    color: #D9D8D9;
}

#logo {
    height: 10vh;
    width: 10vh;
    margin: 2.5vh;
    position: absolute;
    border-radius: 5px;
}

#headersection {
    position: absolute;
    margin-top: 15vh;
    margin-left: 5vh;
    z-index: 2;
    height: 5vh;
    width: 90vh;
    display: flex;
    justify-content: space-between;
}